
wp-admin/edit-form-comment.php

license.txt

.htaccess

index.php

wp-activate.php

readme.html

wp-admin/

wp-includes/

wp-blog-header.php

wp-comments-post.php

wp-config-sample.php

wp-config.php

wp-links-opml.php

wp-load.php

wp-login.php

wp-mail.php

wp-settings.php

wp-signup.php

wp-trackback.php

xmlrpc.php
